@import "fonts.css";

.profiloChiuso{
    display: none;
}
.profiloAperto, .icsAperta{
    display: flex !important;
}

main{
    margin-top: 20px;
}
main h2{
    width: 100%;
    text-align: center;
    font-family: Lastica;
    font-weight: bold;
}
.noi{
    border-top: 1px #333 solid;
}
.riga{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: -webkit-fill-available;
    margin: 10px 20px;
}
.profilo{
    width: 20%;
    margin: 5px 10px;
    border: 1px solid #ddd;
    background-color: #ffff6d;
    padding: 10px;
    border-radius: 12px;
    transition: background-color 0.5s;
    cursor: pointer;
}
.profilo:hover{
    background-color:#fec527;
    transition: background-color 0.5s;
}
.profilo img{
    width: 100%;
}
.profilo .info{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 10px;
}
.info p:nth-child(1){
    font-size: 20px;
}
.info p:nth-child(2){
    font-size: 15px;
}
.noiAppr{
    width: 100%;
}
.profiloAppr{
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 99999;
    background: #333333c2;
}
.profiloAppr img{
    height: 100%;
    margin: 90px;
    width: auto;
}
.ics{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    margin: 30px;
    z-index: 999999;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    background-color: none;
    border-radius: 40px;
    padding: 10px;
    gap: 5px;
    justify-content: center;
    transform: unset;
    transition: unset;
}
.ics div:nth-child(1){
    width: 100%;
    padding: 3px;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    transform: rotate(45deg);
    transition: transform ease-in-out 0.5s;
}
.ics div:nth-child(2){
    width: 100%;
    padding: 3px;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    transform: rotate(-45deg);
    transition: transform ease-in-out 0.5s;
    top: -26%;
}