@font-face{
    font-family: Lastica;
    src: url(../FONT/FontsFree-Net-Lastica.ttf)
}
@font-face{
    font-family: Renegades;
    src: url(../FONT/Star-Renegades-italic.ttf)
}
@font-face{
    font-family: Knoxx;
    src: url(../FONT/Knoxx.ttf)
}
@font-face{
    font-family: Copperplate;
    src: url(../FONT/COPRGTL.ttf)
}