@import "fonts.css";

body{
    background-color: #74b7ab;
}
main{
    margin-top: 30px;
}
.intro{
    width: 100%;
    text-align: center;
    background: radial-gradient(#003380 45%, /* #ddd 55%, */ transparent 65%);
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    font-family: 'VEGANO', sans-serif !important;
    font-size: 25px;
    letter-spacing: 4px;
    font-style: italic;
}
.metaverso{
    margin-top: 10px;
}
.metaverso .container{
    display: flex;
    flex-direction: row;
    width: -webkit-fill-available;
}
.metaverso .container .img{
    width: 50%;
    padding: 5px 15px;
    margin: 2px;
}
.metaverso .container .img img{
    width: 100%;
}
.testo{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 20px;
}
.testo p{
    font-size: 30px;
    font-family: Lastica;
    font-weight: bold;
    text-shadow: 3px -2px #ddd;
}

.progetto{
    width: -webkit-fill-available;
    margin: 30px 20px 0;
    border-top: #333 dashed 1px;
}
.progetto h2{
    margin: 20px 0;
    text-align: center;
    font-family: Copperplate;
}
.testo1 p{
    text-align: center;
    font-size: 18px;
}
.riga{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
.riga:nth-child(2) .img{
    display: flex;
    flex-direction: column;
}
.riga:nth-child(2) .img p{
    margin-top: 10px;
}
.riga .img{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}
.riga .img img{
    width: 90%;
    border: 5px #000 solid;
    border-radius: 10px;
    transition: border 0.3s;
}
.riga .img img:hover{
    border: 5px #646464 solid;
    transition: border 0.3s;
}
#locandina{
    text-decoration: underline;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.locandina{
    display: none;
    height: 100%;
    width: auto;
    position: fixed;
}
.locandinaAperta{
    display: block;
}
.locandinaAAperta{
    background: #333;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
}
