.social{
    position: fixed;
    margin: 30px;
    padding: 5px;
    bottom: 0;
    left: 0;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background: #ddd;
    border: 1px solid #727272;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.social img:nth-child(1){
    display: block;
    padding: unset;
    background: unset;
    border: unset;
}
.social img{
    display: none;
    width: 100%;
    height: 100%;
    padding: 5px;
    border-radius: 50%;
    background: #ddd;
    border: 1px solid #727272;
}

.links{
    border:3;
}