@media (max-width: 1200px){
    .intro{
        font-size: 22px;
    }
    .metaverso .container{
        flex-direction: column;
    }
    .metaverso .container .img{
        width: 100%;
    }
    .testo{
        width: 100%;
        text-align: center;
    }
    .locandina{
        width: 85%;
        height: auto;
        padding: 35px;
    }
    footer{
        height: 100px;
        width: 100px;
    }
}
@media (max-width: 820px){
    .riga{
        display: flex;
        flex-direction: column;
    }
    .riga .img{
        width: 100%;
    }
}